.center{
  background-color:#f5f5f5;
  margin:0 20px;
  padding:0 50px;
}

.title {
  background-color:#ff4500;
  width: 100%;
  display: inline;
}

.q{
  border:1px solid #000000;
  margin:0 auto 20px auto;
}

h2{
  border-bottom:2px solid #000000;
  width: 70px;
}

.item1{
  background-color:yellow;
}

.toi1{
  color:#ff0000;
}
